//
// Display
// --------------------------------------------------

.pos-fixed {
    position: fixed;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.pos-top-right {
    top: 0;
    right: 0;
}

.pos-top-left {
    top: 0;
    left: 0;
}

.pos-ontop-content {
    z-index: $zindex-fixed + 2;
}

.overflow-y-auto {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}
